.container {
	position: relative;
	margin: auto;
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	height: 100dvh;
}

.topSection {
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	width: 100%;
	padding: 1em;
}

.topSection p {
	color: white;
}

.gameBoard {
	background-color: #ffffff;
	border: solid black 0.1em;
}