.container {
	position: relative;
	margin: auto;
	width: max-content;
}

.topSection {
	background-color: #888888;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	padding: 1em;
}

.topSection p {
	color: white;
}

.gameBoard {
	background-color: #555555;
}