.container {
	position: relative;
	margin: auto;
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	height: 100dvh;
}

.topSection {
	background-color: var(--clr_main);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.5em;
	width: 100%;
	padding: clamp(0.9em, 1.8vmin, 1.5em) clamp(1.2em, 3vmin, 2em); 
}

.topSection p {
	font-family: 'JetBrains Mono', sans-serif;
	font-weight: 500;
	font-size: clamp(0.9em, 1.8vmin, 1.5em);
	color: var(--clr_board);
}

.gameBoard {
	background-color: var(--clr_board);
	border: solid var(--clr_main) 0.1em;
}

.popup {
	background-color: var(--clr_main);
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	padding: clamp(0.9em, 1.8vmin, 1.5em);
	z-index: 99;

	display: none;
}

.popupOpen {
	display: flex;
}

.popup h1 {
	font-family: 'JetBrains Mono', sans-serif;
	font-weight: 800;
	font-size: clamp(2em, 7vmin, 4em);
	color: var(--clr_board);
	text-align: center;
}

.popup button {
	font-family: 'JetBrains Mono', sans-serif;
	font-weight: 500;
	font-size: clamp(0.9em, 1.8vmin, 1.5em);
	color: var(--clr_main);
	text-align: center;
	background-color: var(--clr_board);
	border: none;
	padding: 0.8em 1.2em;
	cursor: pointer;
	width: 100%;
}

.scoreSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.scoreSection h5 {
	font-family: 'JetBrains Mono', sans-serif;
	font-weight: 700;
	font-size: clamp(1em, 3vmin, 3em);
	color: var(--clr_board);
	text-align: center;
}